<%= form_for @message, role: 'form' do |f| %>
	<% if @message.errors.any? %>
		<div class="alert alert-danger">
			<h3><%= @message.errors.count %> hatadan dolayı mesajın gönderilemedi:</h3>
      
      <ul>
      	<% @message.errors.full_messages.each do |msg| %>
        	<li><%= msg %></li>
      	<% end %>
      </ul>
		</div>	
	<% end %>

	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, class: 'form-control' %>
	</div>
	
	<div class="form-group">
		<%= f.label :email %>
		<%= f.email_field :email, class: 'form-control' %>
	</div>
	
	<div class="form-group">
		<%= f.label :content %>
		<%= f.text_area :content, class: 'form-control', cols: 30, rows: 12 %>
	</div>

	<div class="btn-group btn-group-justified">
		<div class="btn-group">
			<%= f.submit 'gönder', class: 'btn btn-success' %>
		</div>
		<div class="btn-group">
			<%= link_to 'geri', :back, class: 'btn btn-warning' %>
		</div>
	</div>
	
	<br>
<% end %>