<div class="well well-sm">
	<%= form_for(@message, class: 'form-horizontal') do |f| %>
		<fieldset>
			<legend class="text-center">
				İletişim formu
			</legend>
			
			<% if @message.errors.any? %>
				<div class="alert alert-danger">
					<h3><%= @message.errors.count %> hatadan dolayı mesajınız gönderilemedi:</h3>
      				
      				<ul>
      					<% @message.errors.full_messages.each do |msg| %>
        					<li><%= msg %></li>
      					<% end %>
      				</ul>
				</div>	
			<% end %>
			
			<div class="form-group">
				<%= f.label :email, class: 'col-md-3 control-label' %>
				<div class="col-md-9">
					<%= f.email_field :email, placeholder: 'email@example.com', autofocus: true, class: 'form-control' %>
				</div>
			</div>

			<div>&nbsp;</div>
			<div class="form-group">
				<%= f.label :title, 'Başlık', class: 'col-md-3 control-label' %>
				<div class="col-md-9">
					<%= f.text_field :title, class: 'form-control' %>
				</div>
			</div>
<div>&nbsp;</div>
			<!-- Message body -->
			<div class="form-group">
				<%= f.label :content, 'Mesajınız', class: 'col-md-3 control-label' %>
				<div class="col-md-9">
					<%= f.text_area :content, class: 'form-control', placeholder: 'Lütfen mesajınızı giriniz', rows: 8 %>
				</div>
			</div>
<div>&nbsp;</div>
			<!-- Form actions -->
			<div class="form-group">
				<div class="col-md-12 text-right">
					<%= f.submit 'Gönder', class: 'btn btn-primary btn-lg' %>
				</div>
			</div>
		</fieldset>
	<% end %>
</div>
