<h1>Kayıt ol</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <table>
  	<tr>
  		<td><%= f.label :email %></td>
  		<td><%= f.email_field :email, autofocus: true %></td>
  	</tr>
  	<tr>
  		<td><%= f.label :password, 'Parola' %></td>
  		<td><%= f.password_field :password, autocomplate: 'off' %></td>
  	</tr>
  	<tr>
  		<td><%= f.label :password_confirmation, 'Parola tekrar' %></td>
  		<td><%= f.password_field :password_confirmation, autocomplate: 'off' %></td>
  	</tr>
  	<tr>
  		<td><%= f.submit 'Gönder' %></td>
  	</tr>
  </table>
<% end %>
