<%= form_for @user do |f| %>
	<fieldset>
		<legend>
			<h2>Kayıt ol</h2>
		</legend>
		
		<% if not @user.errors.full_messages.empty? %>
			<div class="panel radius">
				<ul>
					<% for message in @user.errors.full_messages %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		
		<%= f.label :email %>
		<%= f.email_field :email, autofocus: true %>
		
		<%= f.label :username, 'Kullanıcı adı' %>
		<%= f.text_field :username %>
		
		<%= f.label :password, 'Parola' %>
		<%= f.password_field :password %>
		
		<%= f.label :password_confirmation, 'Parola tekrar' %>
		<%= f.password_field :password_confirmation %>
		
		<%= f.submit 'Gönder', class: 'button [radius round]' %>
	</fieldset>
<% end %>

