<div class="panel panel-default">
	<div class="panel-heading">
		<%= image_tag(@author.image_url, size: "180x180") %>
		<h3>
			<em><%= @author.username %></em>
			kullanıcısının
			<span class="label label-success"><%= @author.posts.published.count %></span>
			adet yazısı bulunmakta.
		</h3>		
	</div>
	
	<div class="panel-body">
		<%= render 'posts/list_posts' %>
	</div>
	
	<div class="panel-footer">
		İletişim için <%= mail_to @author.email %>
	</div>
</div>