<%= form_for @post, role: 'form' do |f| %>
	<% if @post.errors.any? %>
		<div class="alert alert-danger">
			<h3><%= @post.errors.count %> hatadan dolayı mesajınız gönderilemedi:</h3>
      
      <ul>
      	<% @post.errors.full_messages.each do |msg| %>
        	<li><%= msg %></li>
      	<% end %>
      </ul>
		</div>	
	<% end %>

	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, class: 'form-control' %>
	</div>
	
	<div class="form-group">
		<%= f.label :category_id %>
		<%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class: 'form-control'}) %>
	</div>
	
	<div class="checkbox">
		<%= f.label :published, 'yayınla?' %>
		<%= f.check_box :published %>
	</div>
	
	<div class="form-group">
		<%= f.label :content %>
		<%= f.text_area :content, class: 'form-control', cols: 30, rows: 20 %>
	</div>

	<div class="btn-group btn-group-justified">
		<div class="btn-group">
			<%= f.submit 'gönder', class: 'btn btn-success' %>
		</div>
		<div class="btn-group">
			<%= link_to 'sil', '', class: 'btn btn-danger', data: {confirm: 'emin misin?'} %>
		</div>
		<div class="btn-group">
			<%= link_to 'geri', :back, class: 'btn btn-warning' %>
		</div>
	</div>
	
	<br>
<% end %>