<%= paginate @posts %>

<% @posts.each do |post| %>
  <div class="blog-post">
    <h2 class="blog-post-title">
    	<%= link_to post.title, post %>
      <small><%= link_to post.user.full_name, post.user %></small>
    </h2>
    <p class="blog-post-meta">
      <span class="label label-default"><%= I18n.l post.created_at %></span>
    </p>
    
    <%= markdown(post.content).truncate(1500, omission: (link_to ' devamı için tık', post)).html_safe %>
  </div>
<% end %>

<%= paginate @posts %>