<%= content_for :page_title, @post.title %>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3>
			<%= link_to @post.title, @post %>
		</h3>

		<h5><%= I18n.l @post.created_at %></h5>
	</div>

	<div class="panel-body">
		<ul class="media-list">
			<div class="media-body">
				<%= link_to @post.user.full_name, @post.user %> tarafından
				<%= time_ago_in_words(@post.created_at) %> önce gönderildi.

				<br/>
				
				Bu kategorideki diğer <%= link_to 'yazılar', @post.category %>,
				bu yazarın diğer <%= link_to 'yazıları.', @post.user %>
    	</div>
		</ul>
		<hr />

		<h1><%= @post.title %></h1>
		<%= markdown(@post.content) %>
	</div>

</div>

<%= content_for :post_actions, render('posts/post_actions') %>