<div class="panel panel-default">
	<div class="panel-heading">
		<h3><%= link_to @post.title, @post %></h3>
		<h5><%= time_ago_in_words(@post.created_at.to_s(:rfc822)) %> önce gönderildi.</h5>
	</div>

	<div class="panel-body">
		<%= RedCloth.new(@post.content).to_html.html_safe %>
	</div>

	<div class="panel-footer">
		<%= render 'layouts/fb_sharer' %>
	</div>
</div>



<% content_for :post_author do %>
<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
	<div class="sidebar-module sidebar-module-inset">
	<div class="thumbnail">
		<%= image_tag(@post.admin_user.image_url, size: "150x100", class: 'img-thumbnail') %>

		<div class="caption">
			<h3><%= link_to(@post.admin_user.username, @post.admin_user) %></h3>
			<p>
				Yazarın <span class="label label-success"><%= @post.admin_user.posts.published.count %></span>
				adet yazısı bulunmakta.
				
				İletişim için <%= mail_to @post.admin_user.email, 'tıklayınız.' %>
			</p>
		</div>
	</div>
	</div>
</div>
<% end %>
