<div class="panel panel-default">
	<div class="panel-heading">
		<h3>
			<%= link_to @post.category.name, @post.category %>
			/
			<%= link_to @post.title, @post %>
		</h3>		
	</div>
	
	<div class="panel-body">
		<%= raw @post.content %>
	</div>
	
	<div class="panel-footer">
		<%= render 'layouts/fb_sharer' %>
		
		<p class="text-right">
			<em>
				<%= link_to(@post.admin_user.username, author_path(@post.admin_user)) %>
			</em>
		</p>
	</div>
</div>
