<%= content_for :page_title, @post.title %>
<%= content_for :post_actions, render('posts/post_actions') %>

<ul class="media-list">
	<div class="media-body">
		<%= link_to @post.user.full_name, @post.user %> tarafından
		<%= time_ago_in_words(@post.created_at) %> önce gönderildi.

		<br/>
				
		Bu kategorideki diğer <%= link_to 'yazılar', @post.category %>,
		bu yazarın diğer <%= link_to 'yazıları.', @post.user %>
  </div>
</ul>

<hr />

<h1>
	<%= @post.title %>
  <small><%= I18n.l @post.created_at %></small>
</h1>

<%= markdown(@post.content) %>

<%= render 'posts/disqus' %>