<% if current_user %>
<li>
	<%= link_to current_user.username %>
</li>
<li>
	<%= link_to 'Çıkış yap', logout_path %>
</li>
<% else %>
<li>
	<%= link_to 'Giriş yap', login_path %>
</li>
<li>
	<%= link_to 'Kayıt ol', sign_up_path %>
</li>
<% end %>

			<li><%= link_to 'Nedir?', about_path %></li>
			<li class="divider"></li>
			<li><%= link_to 'İletişim', contact_path %></li>