
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Özgür Duvar!</title>
    
  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
    
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
			<%= render 'layouts/nav_bar_links' %>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Özgür Duvar!</h1>
        <p class="lead blog-description">Trakya Üniversitesi Forumu'ndan...</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
        	<% if notice %>
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				
				<%= notice %>
			</div>
			<% end %>
		  <%= yield %>
        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Duvar'da ara...</h4>
            <p>
            	<%= form_tag(search_path, method: :get, role: :form) do %>
            		<div class="form-group">
            			<%= search_field_tag :q, nil, placeholder: 'Ara', class: 'form-control' %>
            		</div>
            	<% end %>
            </p>
          </div>
          
          <div class="sidebar-module">
            <h4>Diğer</h4>
            <ol class="list-unstyled">
				<li><a href="https://www.facebook.com/TrakyaUniversitesiForumu">Facebook</a></li>
              	<li><a href="https://github.com/yigitsadic">GitHub</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <div class="blog-footer">
      <p><i>Özgür Duvar!</i> bir özgür yazılımdır. Daha fazlası için <%= link_to 'iletişim', new_message_path %></p>
    </div>
    
	<%= javascript_include_tag "application" %>
  </body>
</html>